/* ======================= */
/* AUTH CSS */
/* =========== */

/* General container */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

/* Title */
.auth-title {
  font-size: 4.5rem;
  font-weight: 600; 
  color: #e59d2c;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05em; 
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: fit-content;
}

/* Form container */
.auth-form {
  text-align: left;
  width: 250%;
  max-width: 600px;

  border-radius: 17px;
  padding: 0.9rem 0.9rem;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Label */
.auth-label {
  display: block;
  color: #0f0042;
  font-weight: 800;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

/* Input fields */
.auth-input {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.auth-input:focus {
  outline: none;
  border-color: #e59d2c;
}

/* Button */
.auth-button {
  width: 100%;
  background-color: #4fc3f7;
  color: white;
  font-weight: 600;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.auth-button:hover {
  background-color: #039be5;
}

/* Responsive mobile view*/
@media (max-width: 768px) {
  .auth-container {
    width: 80%;
  }

  .auth-title {
    font-size: 2.5rem;
    width: 80%;
    text-align: center;
  }

  .auth-form {
    width: 80%;
    max-width: none;
  }

  .auth-label {
    font-size: 1.1rem;
    padding: 0.3rem 0.5rem;
  }

  .auth-input {
    font-size: 0.9rem;
  }

  .auth-button {
    font-size: 1rem;
  }
}

/* =========== */
/* AUTH CSS */
/* ======================= */