{% extends "base_email.html" %}

{% block content %}
<h2 style="color:#111;">Hello {{ username }},</h2>

<p>Someone tried to log in to your account and requested to change your password.</p>
<p>If this isn't you, ignore this message. Otherwise, click on the button and use the new password below.</p>

<p>
  <strong>Temporary password:</strong>  
  <span style="color:#2563eb; font-weight:bold;">{{ password }}</span>
</p>

<p>You may change your password anytime in your Accounts page.</p>

<a class="btn" href="{{ action_url }}">Log In</a>

<p>Welcome back to <strong>iReklamo</strong>!</p>
{% endblock %}
