.popup-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(2px);    
  -webkit-backdrop-filter: blur(8px); 
  z-index: 50;
}


.popup-content {
  background: #fff;
  padding: 2rem;
  width: 40%;
  max-height: 90%;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  clip-path: inset(0 round 10px);
}

.confirm-content {
  background: #fff;
  padding: 2rem;
  width: 40%;
  max-height: 90%;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  clip-path: inset(0 round 10px);
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 30px;
  color: #666;
  cursor: pointer;
  transition: color 0.2s ease;
}
.popup-close:hover {
  color: #ff0000;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: left;
  color: #222;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}

.form-group input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
  font-size: 14px;
  color: #555;
}

.form-group input[readonly] {
  background: #f1f1f1;
  cursor: not-allowed;
}

.form-group select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
  font-size: 14px;
  color: #555;
}

.form-group select[readonly] {
  background: #f1f1f1;
  cursor: not-allowed;
}

.popup-footer {
  display: flex;
  justify-content: right;
  margin-top: 1.5rem;
}

.okay-button {
  background-color: #4CAF50; 
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 20px;
  margin-left: 5px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.okay-button:hover {
  background-color: #45a049; 
}

.revoke-button {
  background-color: #af4c4c; 
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 20px;
  margin-left: 5px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.revoke-button:hover {
  background-color: #a04545; 
}

.okay-button:disabled {
  background-color: #99fd80;        
  color: #777;                   
  border-color: none;           
  cursor: not-allowed;           
  transform: none;              
  opacity: 0.7;                 
}

.okay-button:disabled:hover {
  background-color: #99fd80;
  transform: none;
}

.revoke-button:disabled {
  background-color: #fd8080;        
  color: #777;                   
  border-color: none;           
  cursor: not-allowed;           
  transform: none;              
  opacity: 0.7;                 
}

.revoke-button:disabled:hover {
  background-color: #fd8080;
  transform: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 230px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 10;
  bottom: 125%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.85rem;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
