.event-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 18px;
}

.event-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.event-title {
  font-size: 14px;
  font-weight: 500;
  color: #6b7280;
  margin: 0;
}

.event-value {
  font-size: 50px;
  font-weight: 700;
  color: #111827;
}

.event-chart {
  width: 240px;
  height: 50px;
  padding-top: 40px;
  margin-left: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
